/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/fromework
/storage/logs
/storage/app/file
/storage/app/imports
/storage/app/uploads
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
